.Footer-container {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.Footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 22px 20px 8px;
}

.Footer-content,
.BE,
.FE {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.BE,
.FE {
    width: 500px;
}

.team-user > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.team-user > p {
    font-size : 18px;
    text-align: center;
}
