.Header-container {
    width: 100%;
    border: 2px solid #DCDCDC;
}

.Header-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Header-content {
    width: 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.entire {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.entire > svg {
    height : 36px;
    width : 30px;
}

.entire > hr{
    height:36px;
    width: 2px;
    border-width:0;
    color:#FAFAFA;
    background-color : #DCDCDC;
}

.entire > a > img {
    width: 100px;
    height: 36px;
}

.mypage {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right : 10px;
}

.LO-SI-button {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.LO-SI-button > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.My-button {
    width: 50px;
    height: 60px;
}

.My-button > p {
    font-size : 12px;
}