.Header-container {
    border: 2px solid #D9D9D9;
}

.Header-content {
    display: flex;
    flex-direction: row;
}

.Header-content > a {
    margin-left : 10px;
}

.Header-content > a > img {
    height : 100%;
    width : 220px;
    cursor : pointer;
}

.Header-content > button {
    cursor : pointer;
    border: none;
    background-color: transparent;
    font-weight: 900;
    font-size: 18px;
}

.nickname_btn2 {
    margin: 24px 10px;
    font-weight: 900;
    font-size: 18px;
}

.Login_btn2 {
    margin-right: 20px;
}

.Singup_btn2 {
    margin: 0 100px 0 0;
}

.Logout_btn2 {
    margin: 0 100px 0 0;
}
/* 
@media screen and (min-width : 350px) and (max-width : 850px) {
    .Singup_btn2 {
        margin: 0 50px 0 0;
    }
}
 */