.Header-container {
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 300;
}

.Header-wrap {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.Header-content {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    padding: 22px 3px 8px;
}

.entire {
    display : flex;
    width: 100%;
}

.entire > svg {
    height : 36px;
    width : 30px;
    margin-right : 0;
    margin-top: 10px;
    cursor : pointer;
}

.entire > hr {
    height:36px;
    width: 2px;
    border-width:0;
    color:#FAFAFA;
    background-color : #DCDCDC;
}

.entire > a > img {
    width: 100px;
    height: 36px;
    margin-top: 10px;
}

.wall {
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin: 10px 20px 0px;
    display: inline-block;
}

.mypage {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.LO-SI-button {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    margin-right: 10px;
}

.LO-SI-button > button,
.Logout-button > button {
    border: none;
    background-color: transparent;
    color :black;
    cursor: pointer;
    width: 85px;
    margin-top: 18px;
    font-size: 18px;
}

.My-button {
    cursor : pointer;
    margin-top: 7px;
    color :#333333;
}

.My-button > p {
    font-size : 12px;
    margin-top: 0;
}