.banner {
  max-width: 1000px;
  width : 100%;
  margin: 0 auto;
}

.main-view {
    margin-bottom : 20px;
    margin-top : 50px;
    text-align : center;
}

.main-view > ul > li > img{
    width : 100%;
}

.main-view > ul {
    list-style:none;
}

.main-view{ overflow : hidden; }
  .main-view ul{ 
    width : calc(100% * 3);
    display : flex; 
    animation : slide 8s infinite;
    } /* slide를 8초동안 진행하며 무한반복 함 */
  .main-view li{
    width : calc(100% / 3);
    }
  
  @keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    100% {margin-left:0;}
  }

.category {
  display : flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.categoty-content {
  display : flex;
  flex-direction: row;
  padding: 15px;
}

.CategoryCheck {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.CategoryCheck > svg {
  margin : 30px 0 10px 0;
  cursor : pointer;
}

.CategoryCheck > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.card-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card-view {
  padding : 0 15%;
  margin-bottom: 50px;
  display : flex;
  flex-direction: row;
  justify-content: center;
}

.bestReviewPoint, 
.maxComment,
.bestLoveCount,
.bestLowPrice {
  display : flex;
  flex-direction: column;
}

.bestReviewPoint-title,
.maxComment-title,
.bestLoveCount-title,
.bestLowPrice-title {
  margin-left: 20px;
}
  
.card{
  margin : 0 auto;
  max-width : 1300px;
  /* height: 900px; */
  display : flex;
  flex-direction : row;
  align-content: flex-start;
}

.addBtn-container {
  position : relative;
}

.addBtn {
  position: absolute;
  box-shadow: 0px 5px 20px #00000040;
  background-color: white;
  border-radius: 50%;
  top: 90%;
  left: 90%;
  width: 70px;
  height: 70px;
  border-radius: 80%;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
}

.addBtn > button {
  cursor : pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 18px;
  bottom : 18px;
  font-weight: 900;
}

